:root {
	--color-main: oklch(57.061% 0.23055 299.58);
	--color-underline: color-mix(in oklch, white 55%, var(--color-main));
	--color-negative: oklch(70.405% 0.14081 5.459);
	--color-positive: oklch(83.722% 0.11923 180.394);
	--color-negative-light: color-mix(in oklch, white 75%, var(--color-negative));
	--color-positive-light: color-mix(in oklch, white 75%, var(--color-positive));
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-weight: 300;
	font-family: 'Avenir', 'Futura', 'League Spartan', sans-serif;
}

table {
	border: none;
	border-collapse: collapse;
	/* font-family: 'Inconsolata', monospace; */
}

th, td {
	border:1pt solid var(--color-underline);
	padding: 1ex .5em;
}

th {
	font-weight: 500;
	background-color: color-mix(in oklch, white 85%, var(--color-main));
}

tr {
	&.negative {
		background-color: var(--color-negative-light);
	}
	&.positive {
		background-color: var(--color-positive-light);
	}
}

.right_aligned {
	text-align: right;
}

.ui_group {
	border: 1px solid #ddd;
	border-radius: .2em;
	margin-bottom: 1.4ex;
	width: max-content;
	padding: 1ex;
	display: flex;
	gap: 1em;
}
